@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif+Khojki&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Caslon+Text&family=Noto+Serif+Khojki&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

// Nav_bar1
@import "./Navigation_bar";

// Nav_bar2
@import "./Navigation_bar2";

// First_page
@import "./First_Page";

// Second_page
@import "./Second_Page";

// Three_page
@import "./Three_Page";

// Fover_page
@import "./Four_Page";


// Five_page
// Six_page

// Seven_page
@import "./Seven_Page";

// Eight_page
@import "./Eight_Page";

// Nine_page
@import "./Nine_Page";