@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif+Khojki&display=swap');


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


// Nav_bar
.Nav_bar {
    height: 70px;
    width: 100%;
    // border: 2px solid black;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    font-family: 'Times New Roman', Times, serif;

    .Hookup {
        a {
            font-size: 1.5rem;
            font-weight: bold;
            text-decoration: none;
            color: white;
            transition: 0.2s;

            &:hover {

                color: black;
            }
        }
    }

    .list_items {
        align-items: center;

        ol {
            display: flex;

            li {

                list-style: none;
                margin: 0px 20px;



                a {
                    text-decoration: none;
                    color: white;

                }


                .line {
                    height: 3px;
                    width: 0px;
                    border-radius: 10px;
                    background-color: rgb(254, 128, 149);
                }

                &:hover {
                    .line {
                        height: 3px;
                        width: auto;

                    }

                }


            }
        }
    }

    .click {
        display: none;

        Button {
            background: none;
            border: none;
            color: grey;
            font-size: 1.3rem;

            span {

                padding: 0px 5px;
            }
        }
    }
}

@import "./_media.scss";

// First_page
.First_page {
    height: 100vh;
    background: url("./src/images/bg_1.jpg");
    background-position: top center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    .First_div {
        height: 70%;
        width: 70%;
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-size: 3rem;

        @media (max-width:845px) {

            font-size: 2.5rem;
        }

        @media (max-width:710px) {
            font-size: 2rem;
        }

        @media (max-width:600px) {
            font-size: 1.5rem;
        }

        @media (max-width:445px) {
            font-size: 1.3rem;
            height: 65%;
        }

        @media (max-width:380px) {
            font-size: 1.0rem;
            height: 55%;
        }

        @media (max-width:310px) {
            font-size: 0.8rem;
            height: 45%;
        }

        .rose {
            // border: 2px solid blue;
            font-size: 1.5em;
            opacity: 0.9;
        }

        .linking {
            // border: 2px solid blue;
            display: flex;
            align-items: center;
            font-size: 0.3em;

            @media (max-width:710px) {
                font-size: 0.6em;
            }

            .widding {
                letter-spacing: 6px;
            }


            .line {
                height: 3px;
                width: 100px;
                border-radius: 10px;
                background-color: white;
                margin: 0px 10px;

                @media (max-width:710px) {
                    display: none;
                }
            }
        }

        .Name {
            // border: 2px solid blue;
            font-family: 'Great Vibes', cursive;
            font-size: 2em;
        }

        .Total_days {
            height: calc(100%/4);
            width: calc(100%/1);
            // border: 2px solid blue;
            font-size: 1em;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .Days,
            .Hours,
            .Minutes,
            .seconds {
                display: flex;
                flex-direction: column;
                align-items: center;
                // border: 2px solid orangered;

                .Number {
                    font-size: 1em;
                }

                .D,
                .H,
                .M,
                .S {
                    font-size: 0.4em;
                }
            }

        }

    }

}






























// Second_page
.Second_page {
    height: 100vh;
    background-color: aqua;
}