@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif+Khojki&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Caslon+Text&family=Noto+Serif+Khojki&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.Nav_bar {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 30px;
  font-family: 'Times New Roman', Times, serif;
}

.Nav_bar .Hookup a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.Nav_bar .Hookup a:hover {
  color: black;
}

.Nav_bar .list_items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav_bar .list_items ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Nav_bar .list_items ol li {
  list-style: none;
  margin: 0px 20px;
}

.Nav_bar .list_items ol li a {
  text-decoration: none;
  color: white;
}

.Nav_bar .list_items ol li .line {
  height: 3px;
  width: 0px;
  border-radius: 10px;
  background-color: #fe8095;
}

.Nav_bar .list_items ol li:hover .line {
  height: 3px;
  width: auto;
}

.Nav_bar .click {
  display: none;
}

.Nav_bar .click Button {
  background: none;
  border: none;
  color: grey;
  font-size: 1.3rem;
}

.Nav_bar .click Button span {
  padding: 0px 5px;
}

@media (max-width: 1020px) {
  .Nav_bar {
    background-color: black;
  }
  .Nav_bar .list_items {
    display: none;
  }
  .Nav_bar .click {
    display: block;
  }
}

@media (max-width: 320px) {
  .Nav_bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.First_page {
  height: 100vh;
  background: url("./src/images/bg_1.jpg");
  background-position: top center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.First_page .First_div {
  height: 70%;
  width: 70%;
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 3rem;
}

@media (max-width: 845px) {
  .First_page .First_div {
    font-size: 2.5rem;
  }
}

@media (max-width: 710px) {
  .First_page .First_div {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .First_page .First_div {
    font-size: 1.5rem;
    height: 50%;
  }
}

@media (max-width: 445px) {
  .First_page .First_div {
    font-size: 1.3rem;
    height: 45%;
  }
}

@media (max-width: 380px) {
  .First_page .First_div {
    font-size: 1.0rem;
    height: 40%;
  }
}

@media (max-width: 310px) {
  .First_page .First_div {
    font-size: 0.8rem;
    height: 35%;
  }
}

.First_page .First_div .rose {
  border: 2px solid blue;
  font-size: 1.5em;
  opacity: 0.9;
}

.First_page .First_div .linking {
  border: 2px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.3em;
}

@media (max-width: 710px) {
  .First_page .First_div .linking {
    font-size: 0.6em;
  }
}

.First_page .First_div .linking .widding {
  letter-spacing: 6px;
}

.First_page .First_div .linking .line {
  height: 3px;
  width: 100px;
  border-radius: 10px;
  background-color: white;
  margin: 0px 10px;
}

@media (max-width: 710px) {
  .First_page .First_div .linking .line {
    display: none;
  }
}

.First_page .First_div .Name {
  border: 2px solid blue;
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
}

.First_page .First_div .Total_days {
  border: 2px solid blue;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.First_page .First_div .Total_days .Days,
.First_page .First_div .Total_days .Hours,
.First_page .First_div .Total_days .Minutes,
.First_page .First_div .Total_days .seconds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid orangered;
  margin: 0px 15px;
}

.First_page .First_div .Total_days .Days .Number,
.First_page .First_div .Total_days .Hours .Number,
.First_page .First_div .Total_days .Minutes .Number,
.First_page .First_div .Total_days .seconds .Number {
  font-size: 1em;
}

.First_page .First_div .Total_days .Days .D,
.First_page .First_div .Total_days .Days .H,
.First_page .First_div .Total_days .Days .M,
.First_page .First_div .Total_days .Days .S,
.First_page .First_div .Total_days .Hours .D,
.First_page .First_div .Total_days .Hours .H,
.First_page .First_div .Total_days .Hours .M,
.First_page .First_div .Total_days .Hours .S,
.First_page .First_div .Total_days .Minutes .D,
.First_page .First_div .Total_days .Minutes .H,
.First_page .First_div .Total_days .Minutes .M,
.First_page .First_div .Total_days .Minutes .S,
.First_page .First_div .Total_days .seconds .D,
.First_page .First_div .Total_days .seconds .H,
.First_page .First_div .Total_days .seconds .M,
.First_page .First_div .Total_days .seconds .S {
  font-size: 0.4em;
}

.Second_page {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Second_page .Second_div {
  height: 100%;
  width: 80%;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 760px) {
  .Second_page .Second_div {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
}

.Second_page .Second_div .mar_img {
  width: 50%;
  background: url("./src/images/about.jpg");
  background-size: cover;
  background-position: top center;
  border: 2px solid orange;
}

@media (max-width: 760px) {
  .Second_page .Second_div .mar_img {
    height: 60vh;
    width: 100%;
    background-position: center;
  }
}

.Second_page .Second_div .mar_details {
  height: 100%;
  width: 50%;
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bolder;
  color: gray;
  font-family: 'Libre Caslon Text', serif;
  font-size: 14px;
}

@media (max-width: 760px) {
  .Second_page .Second_div .mar_details {
    height: auto;
    width: 100%;
  }
}

.Second_page .Second_div .mar_details .join,
.Second_page .Second_div .mar_details .name,
.Second_page .Second_div .mar_details .celebration,
.Second_page .Second_div .mar_details .starting,
.Second_page .Second_div .mar_details .PAUL {
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0px;
}

.Second_page .Second_div .mar_details .name {
  font-size: 3.5em;
}

.Second_page .Second_div .mar_details .name .s1 {
  color: #fe8095;
  font-family: 'Great Vibes', cursive;
  margin-bottom: 10px;
}

.Second_page .Second_div .mar_details .name .s2 {
  opacity: 0.5;
}

.Second_page .Second_div .mar_details .celebration .day_in {
  font-size: 2.4em;
  font-weight: normal;
  margin-top: 10px;
}

.Three_page {
  height: 100vh;
  background-color: rebeccapurple;
}
/*# sourceMappingURL=style.css.map */