@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif+Khojki&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Caslon+Text&family=Noto+Serif+Khojki&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

.Nav_bar {
  z-index: 10;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 30px;
  font-family: 'Times New Roman', Times, serif;
}

.Nav_bar .Hookup a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.Nav_bar .Hookup a:hover {
  color: black;
}

.Nav_bar .Hookup .add2 {
  color: black;
}

@media (max-width: 1020px) {
  .Nav_bar .Hookup .add2 {
    color: white;
  }
}

.Nav_bar .list_items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav_bar .list_items ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Nav_bar .list_items ol li {
  list-style: none;
  margin: 0px 20px;
}

.Nav_bar .list_items ol li a {
  text-decoration: none;
  color: white;
}

.Nav_bar .list_items ol li .add2 {
  color: black;
}

.Nav_bar .list_items ol li .line {
  height: 3px;
  width: 0px;
  border-radius: 10px;
  background-color: #fe8095;
}

.Nav_bar .list_items ol li:hover .line {
  height: 3px;
  width: auto;
}

.Nav_bar .click {
  display: none;
}

.Nav_bar .click Button {
  background: none;
  border: none;
  color: grey;
  font-size: 1.3rem;
}

.Nav_bar .click Button span {
  padding: 0px 5px;
}

.add1 {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background-color: white;
  -webkit-box-shadow: 0px 8px 20px gray;
          box-shadow: 0px 8px 20px gray;
}

@media (max-width: 1020px) {
  .add1 {
    border: none;
  }
}

@media (max-width: 1020px) {
  .Nav_bar {
    background-color: black;
  }
  .Nav_bar .Hookup a {
    color: white;
  }
  .Nav_bar .list_items {
    display: none;
  }
  .Nav_bar .click {
    display: block;
  }
}

@media (max-width: 320px) {
  .Nav_bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Nav_bar2 {
  background-color: black;
  width: 100%;
  padding: 70px 30px;
  position: fixed;
  z-index: 9;
  -webkit-transform: translateY(-400px);
          transform: translateY(-400px);
}

@media (min-width: 1020px) {
  .Nav_bar2 {
    display: none;
  }
}

.Nav_bar2 .list_items li {
  margin-bottom: 10px;
  list-style: none;
}

.Nav_bar2 .list_items li a {
  text-decoration: none;
  color: white;
}

.Nav_bar2 .list_items li:hover a {
  border-bottom: 3px solid #fe8095;
}

.Menu_on {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.Menu_off {
  -webkit-transform: translateY(-400px);
          transform: translateY(-400px);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.First_page {
  height: 100vh;
  background: url("../images/bg_1.jpg");
  background-position: top center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.First_page .First_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 3rem;
}

.First_page .First_div .rose {
  font-size: 1.5em;
  opacity: 0.9;
  margin: 13px 0px;
}

.First_page .First_div .linking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.3em;
  margin: 13px 0px;
}

.First_page .First_div .linking .widding {
  letter-spacing: 6px;
}

.First_page .First_div .linking .line {
  height: 3px;
  width: 100px;
  border-radius: 10px;
  background-color: white;
  margin: 0px 10px;
}

.First_page .First_div .Name {
  margin: 13px 0px;
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
}

.First_page .First_div .Total_days {
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 13px 0px;
}

.First_page .First_div .Total_days .Days,
.First_page .First_div .Total_days .Hours,
.First_page .First_div .Total_days .Minutes,
.First_page .First_div .Total_days .seconds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 15px;
}

.First_page .First_div .Total_days .Days .Number,
.First_page .First_div .Total_days .Hours .Number,
.First_page .First_div .Total_days .Minutes .Number,
.First_page .First_div .Total_days .seconds .Number {
  font-size: 1em;
}

.First_page .First_div .Total_days .Days .D,
.First_page .First_div .Total_days .Days .H,
.First_page .First_div .Total_days .Days .M,
.First_page .First_div .Total_days .Days .S,
.First_page .First_div .Total_days .Hours .D,
.First_page .First_div .Total_days .Hours .H,
.First_page .First_div .Total_days .Hours .M,
.First_page .First_div .Total_days .Hours .S,
.First_page .First_div .Total_days .Minutes .D,
.First_page .First_div .Total_days .Minutes .H,
.First_page .First_div .Total_days .Minutes .M,
.First_page .First_div .Total_days .Minutes .S,
.First_page .First_div .Total_days .seconds .D,
.First_page .First_div .Total_days .seconds .H,
.First_page .First_div .Total_days .seconds .M,
.First_page .First_div .Total_days .seconds .S {
  font-size: 0.4em;
}

@media (max-width: 845px) {
  .First_page .First_div {
    font-size: 2.5rem;
  }
}

@media (max-width: 710px) {
  .First_page .First_div {
    font-size: 2rem;
  }
  .First_page .First_div .linking {
    font-size: 0.6em;
  }
  .First_page .First_div .line {
    display: none;
  }
}

@media (max-width: 600px) {
  .First_page .First_div {
    font-size: 1.5rem;
    height: 50%;
  }
}

@media (max-width: 445px) {
  .First_page .First_div {
    font-size: 1.3rem;
    height: 45%;
  }
}

@media (max-width: 380px) {
  .First_page .First_div {
    font-size: 1.0rem;
    height: 40%;
  }
}

@media (max-width: 310px) {
  .First_page .First_div {
    font-size: 0.8rem;
    height: 35%;
  }
}

.Second_page {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0px;
}

.Second_page .Second_div {
  height: 100%;
  width: 80%;
  border: 3px solid rgba(0, 0, 0, 0.352);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 760px) {
  .Second_page .Second_div {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
}

.Second_page .Second_div .mar_img {
  width: 50%;
  background: url("../images/about.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-right: 3px solid rgba(0, 0, 0, 0.352);
}

@media (max-width: 760px) {
  .Second_page .Second_div .mar_img {
    height: 60vh;
    width: 100%;
    background-position: center;
    border-right: none;
  }
}

.Second_page .Second_div .mar_details {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bolder;
  color: gray;
  font-family: 'Libre Caslon Text', serif;
  font-size: 14px;
}

@media (max-width: 760px) {
  .Second_page .Second_div .mar_details {
    height: auto;
    width: 100%;
  }
}

.Second_page .Second_div .mar_details .join,
.Second_page .Second_div .mar_details .name,
.Second_page .Second_div .mar_details .celebration,
.Second_page .Second_div .mar_details .starting,
.Second_page .Second_div .mar_details .PAUL {
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0px;
}

.Second_page .Second_div .mar_details .name {
  font-size: 3.5em;
}

.Second_page .Second_div .mar_details .name .s1 {
  color: #fe8095;
  font-family: 'Great Vibes', cursive;
  margin-bottom: 10px;
}

.Second_page .Second_div .mar_details .name .s2 {
  opacity: 0.5;
}

.Second_page .Second_div .mar_details .celebration .day_in {
  font-size: 2.4em;
  font-weight: normal;
  margin-top: 10px;
}

.Three_page {
  background-color: white;
}

.Three_page .Three_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

@media (max-width: 580px) {
  .Three_page .Three_div {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .Three_page .Three_div {
    font-size: 12px;
  }
}

.Three_page .Three_div .top_design {
  height: 300px;
  width: 100%;
  background-image: url("../images/top-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1000px) {
  .Three_page .Three_div .top_design {
    height: 300px;
  }
}

.Three_page .Three_div .Bride {
  font-family: 'Great Vibes', cursive;
  font-size: 4em;
  color: #fe8095;
}

.Three_page .Three_div .details_in {
  width: 80%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 860px) {
  .Three_page .Three_div .details_in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Three_page .Three_div .details_in .box {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 50%;
  border: 2px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 860px) {
  .Three_page .Three_div .details_in .box {
    width: 100%;
  }
}

.Three_page .Three_div .details_in .box .Men_img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-image: url("../images/groom.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.Three_page .Three_div .details_in .box .para1 {
  color: gray;
  margin: 20px 40px;
  font-size: 1.5em;
  line-height: 35px;
}

.Three_page .Three_div .details_in .box:last-child .Women_img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-image: url("../images/bride.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.Three_page .Three_div .bottom_design {
  width: 100%;
  height: 300px;
  background-image: url("../images/bottom-bg.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
}

.Four_page {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Four_page .Four_div {
  width: 80%;
  margin: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 800px) {
  .Four_page .Four_div {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 620px) {
  .Four_page .Four_div {
    width: 90%;
  }
}

@media (max-width: 470px) {
  .Four_page .Four_div {
    width: 100%;
  }
}

.Four_page .Four_div .Love_Story {
  height: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 10px;
}

.Four_page .Four_div .Love_Story .p1 {
  color: gray;
  font-size: 2.5em;
  font-weight: bold;
  opacity: 0.4;
}

.Four_page .Four_div .Love_Story .p2 {
  color: gray;
  font-size: 3.5em;
  color: #fe8095;
  font-family: 'Great Vibes', cursive;
}

.Four_page .Four_div .imgs_div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 800px) {
  .Four_page .Four_div .imgs_div {
    margin-left: 40px;
  }
}

@media (max-width: 680px) {
  .Four_page .Four_div .imgs_div {
    margin-left: 0px;
  }
}

.Four_page .Four_div .imgs_div .line {
  height: 95%;
  width: 0;
  border-right: 2px solid #fe8095;
  position: absolute;
  top: 100px;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

@media (max-width: 650px) {
  .Four_page .Four_div .imgs_div .line {
    display: none;
  }
}

.Four_page .Four_div .imgs_div .img_Meet1,
.Four_page .Four_div .imgs_div .img_Meet2,
.Four_page .Four_div .imgs_div .img_Meet3,
.Four_page .Four_div .imgs_div .img_Meet4 {
  height: 100px;
  width: 100px;
  border: 4px solid #fe8095;
  border-radius: 50%;
  background: url("../images/couple-1.jpg");
  background-size: cover;
  z-index: 1;
}

@media (max-width: 620px) {
  .Four_page .Four_div .imgs_div .img_Meet1,
  .Four_page .Four_div .imgs_div .img_Meet2,
  .Four_page .Four_div .imgs_div .img_Meet3,
  .Four_page .Four_div .imgs_div .img_Meet4 {
    height: 90px;
    width: 90px;
  }
}

.Four_page .Four_div .imgs_div .img_Meet2 {
  background: url("../images/couple-2.jpg");
  background-size: cover;
}

.Four_page .Four_div .imgs_div .img_Meet3 {
  background: url("../images/couple-3.jpg");
  background-size: cover;
}

.Four_page .Four_div .imgs_div .img_Meet4 {
  background: url("../images/couple-4.jpg");
  background-size: cover;
}

.Four_page .Four_div .Meeting_outer {
  margin: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 16px;
}

.Four_page .Four_div .Meeting_outer .Meeting_details {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 42%;
  border: 2px solid rgba(128, 128, 128, 0.426);
  text-align: right;
  margin: 10px 15px;
  padding: 10px;
}

@media (max-width: 1020px) {
  .Four_page .Four_div .Meeting_outer .Meeting_details {
    width: 40%;
  }
}

@media (max-width: 800px) {
  .Four_page .Four_div .Meeting_outer .Meeting_details {
    width: 70%;
  }
}

@media (max-width: 680px) {
  .Four_page .Four_div .Meeting_outer .Meeting_details {
    width: 75%;
  }
}

.Four_page .Four_div .Meeting_outer .Meeting_details > * {
  margin-bottom: 10px;
}

.Four_page .Four_div .Meeting_outer .Meeting_details span {
  font-size: 0.9em;
  color: #fe8095;
  font-weight: bold;
}

.Four_page .Four_div .Meeting_outer .Meeting_details .p4 {
  color: gray;
  font-size: 1em;
}

.Four_page .Four_div .Meeting_outer:nth-of-type(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 800px) {
  .Four_page .Four_div .Meeting_outer:nth-of-type(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.Seven_page {
  background-color: rgba(128, 128, 128, 0.319);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0px;
  margin-top: 70px;
}

.Seven_page .Place {
  line-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.Seven_page .Place .p3 {
  color: gray;
  font-size: 2.5em;
  font-weight: bold;
  opacity: 0.2;
}

.Seven_page .Place .p4 {
  color: gray;
  font-size: 3.5em;
  color: #f25771;
  font-family: 'Great Vibes', cursive;
}

.Seven_page .details_outer {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

@media (max-width: 900px) {
  .Seven_page .details_outer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1px;
    width: 60%;
  }
}

@media (max-width: 580px) {
  .Seven_page .details_outer {
    width: 80%;
  }
}

.Seven_page .details_outer .reception,
.Seven_page .details_outer .ceremony,
.Seven_page .details_outer .party {
  padding: 20px 0px;
  background-image: url("../images/place-1.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Seven_page .details_outer .reception .white,
.Seven_page .details_outer .ceremony .white,
.Seven_page .details_outer .party .white {
  height: 95%;
  width: 90%;
  background-color: white;
  padding: 25px;
  text-align: center;
}

.Seven_page .details_outer .reception .white > *,
.Seven_page .details_outer .ceremony .white > *,
.Seven_page .details_outer .party .white > * {
  margin-bottom: 20px;
}

.Seven_page .details_outer .reception .white p,
.Seven_page .details_outer .ceremony .white p,
.Seven_page .details_outer .party .white p {
  color: dimgray;
  font-size: 1.1em;
}

.Seven_page .details_outer .reception .white i,
.Seven_page .details_outer .ceremony .white i,
.Seven_page .details_outer .party .white i {
  font-size: 50px;
  color: #f25771;
}

.Seven_page .details_outer .reception .white .number,
.Seven_page .details_outer .ceremony .white .number,
.Seven_page .details_outer .party .white .number {
  color: #f25771;
  font-weight: bold;
  cursor: pointer;
}

.Seven_page .details_outer .reception .white .map,
.Seven_page .details_outer .ceremony .white .map,
.Seven_page .details_outer .party .white .map {
  color: #f25771;
  border: 2px rgba(105, 105, 105, 0.438) solid;
  padding: 8px 15px;
  background-color: white;
  cursor: pointer;
}

.Seven_page .details_outer .ceremony {
  background-image: url("../images/place-2.jpg");
}

.Seven_page .details_outer .party {
  background-image: url("../images/place-3.jpg");
}

.Eight_page {
  background-color: rgba(0, 255, 255, 0.101);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0px;
}

.Eight_page .attending {
  line-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.Eight_page .attending .a1 {
  font-size: 2.5em;
  color: gray;
  font-weight: bold;
  opacity: 0.2;
}

@media (max-width: 660px) {
  .Eight_page .attending .a1 {
    font-size: 2.0em;
  }
}

@media (max-width: 450px) {
  .Eight_page .attending .a1 {
    font-size: 1.5em;
  }
}

.Eight_page .attending .a1:nth-child(2) {
  font-size: 4.5em;
  font-family: 'Great Vibes', cursive;
  color: #fe8095;
  font-weight: normal;
  opacity: 1;
}

@media (max-width: 660px) {
  .Eight_page .attending .a1:nth-child(2) {
    font-size: 3.5em;
  }
}

@media (max-width: 450px) {
  .Eight_page .attending .a1:nth-child(2) {
    font-size: 2.5em;
  }
}

.Eight_page .outer_form {
  height: 500px;
  width: 600px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 690px) {
  .Eight_page .outer_form {
    width: 500px;
  }
}

@media (max-width: 560px) {
  .Eight_page .outer_form {
    width: 400px;
  }
}

@media (max-width: 560px) {
  .Eight_page .outer_form {
    width: 300px;
  }
}

.Eight_page .outer_form .txt_area {
  height: 50px;
  width: 75%;
  border: 1px solid rgba(128, 128, 128, 0.532);
  padding: 0px 15px;
}

.Eight_page .outer_form .txt_area:focus-within {
  border-color: pink;
}

.Eight_page .outer_form .txt_area .t1 {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background-color: white;
}

.Eight_page .outer_form .txt_area:nth-child(3) .t1 {
  color: gray;
}

.Eight_page .outer_form .txt_area:nth-child(3) .t1 .change_color {
  color: black;
}

.Eight_page .outer_form .txt_area:nth-child(4) {
  padding: 0px 0px;
  border: none;
}

.Eight_page .outer_form .txt_area:nth-child(4) textarea {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 10px 20px;
}

.Eight_page .outer_form .txt_area:nth-child(4) textarea:focus-within {
  border-color: pink;
}

.Eight_page .outer_form .txt_area:nth-child(5) {
  border: none;
  padding: 0px 0px;
}

.Eight_page .outer_form .txt_area:nth-child(5) .t1 {
  height: 100%;
  width: 50%;
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: #fe8095;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.Eight_page .outer_form .txt_area:nth-child(5) .t1:active {
  background-color: blue;
}

.Nine_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0px;
}

.Nine_page .gallery {
  line-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.Nine_page .gallery .G1 {
  font-size: 2.5em;
  color: gray;
  font-weight: bold;
  opacity: 0.2;
}

.Nine_page .gallery .G1:nth-child(2) {
  font-size: 4.5em;
  font-family: 'Great Vibes', cursive;
  color: #fe8095;
  font-weight: normal;
  opacity: 1;
}

.Nine_page .photos {
  width: 100%;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 25px;
}

@media (max-width: 890px) {
  .Nine_page .photos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}

.Nine_page .photos .image {
  height: 400px;
  width: calc(90%/4);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.Nine_page .photos .image:hover {
  scale: 1.1;
}

@media (max-width: 890px) {
  .Nine_page .photos .image {
    width: calc(80%/1);
  }
}

@media (max-width: 560px) {
  .Nine_page .photos .image {
    width: calc(90%/1);
    height: 300px;
  }
}

@media (max-width: 560px) {
  .Nine_page .photos .image {
    height: 250px;
  }
}

.Nine_page .photos .image .pink {
  height: 100%;
  width: 100%;
  background-color: #f6748a;
  position: absolute;
  opacity: 0;
  border-radius: 15px;
}

.Nine_page .photos .image .pink:hover {
  opacity: 0.7;
}

.Nine_page .photos .image .pink:hover + .cir {
  opacity: 1;
}

.Nine_page .photos .image .cir {
  height: 65px;
  width: 65px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  color: #fe8095;
}

.Nine_page .photos #i1 {
  background: url("../images/gallery-1.jpg");
  background-size: cover;
  background-position: center;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.Nine_page .photos #i2 {
  background: url("../images/gallery-2.jpg");
  background-size: cover;
  background-position: center;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.Nine_page .photos #i3 {
  background: url("../images/gallery-3.jpg");
  background-size: cover;
  background-position: center;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.Nine_page .photos #i4 {
  background: url("../images/gallery-4.jpg");
  background-size: cover;
  background-position: center;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.Nine_page .photos #i5 {
  background: url("../images/gallery-5.jpg");
  background-size: cover;
  background-position: center;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.Nine_page .photos #i6 {
  background: url("../images/gallery-6.jpg");
  background-size: cover;
  background-position: center;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.Nine_page .photos #i7 {
  background: url("../images/gallery-7.jpg");
  background-size: cover;
  background-position: center;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.Nine_page .photos #i8 {
  background: url("../images/gallery-8.jpg");
  background-size: cover;
  background-position: center;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.Nine_page .photos .Outer_black {
  height: 0px;
  width: 0px;
  border: 2px solid gray;
  background-color: rgba(0, 0, 0, 0.948);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  position: fixed;
  padding-bottom: 70px;
  z-index: 1003;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.Nine_page .photos .Outer_black .Back_white {
  height: 60px;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 25px;
}

.Nine_page .photos .Outer_black .Back_white span {
  color: gray;
  font-size: 40px;
}

.Ten_page {
  max-width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 70px;
  padding-bottom: 50px;
  font-family: 'Libre Caslon Text', serif;
}

@media (max-width: 660px) {
  .Ten_page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Ten_page .hooup {
  width: 200px;
}

@media (max-width: 660px) {
  .Ten_page .hooup {
    width: 100%;
    padding: 0px 50px;
  }
}

.Ten_page .hooup > * {
  margin-bottom: 20px;
}

.Ten_page .hooup .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
  gap: 25px;
}

.Ten_page .hooup .icons > * {
  height: 50px;
  width: 50px;
  background-color: #fe8095;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 25px;
}

.Ten_page .hooup .icons .twitter,
.Ten_page .hooup .icons .faceBook,
.Ten_page .hooup .icons .instagram {
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.Ten_page .hooup .icons .twitter:hover,
.Ten_page .hooup .icons .faceBook:hover,
.Ten_page .hooup .icons .instagram:hover {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.Ten_page .quickLink > *,
.Ten_page .link > *,
.Ten_page .services > *,
.Ten_page .haveQuestion > * {
  margin-bottom: 20px;
}

.Ten_page .quickLink a,
.Ten_page .link a,
.Ten_page .services a,
.Ten_page .haveQuestion a {
  color: #fe8095;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 660px) {
  .Ten_page .quickLink,
  .Ten_page .link,
  .Ten_page .services,
  .Ten_page .haveQuestion {
    width: 100%;
    padding: 0px 50px;
  }
}

.Ten_page .haveQuestion {
  width: 250px;
}

@media (max-width: 930px) {
  .Ten_page .haveQuestion {
    width: 100%;
  }
}

@media (max-width: 660px) {
  .Ten_page .haveQuestion {
    width: 100%;
    padding: 0px 50px;
  }
}

.line {
  height: 6px;
  width: 100%;
  background-color: black;
  border-radius: 30px;
}
/*# sourceMappingURL=style.css.map */